@model Web_Client.Models.NewAppointmentRequest
@{
    ViewBag.Title = "Appointment";
}


@using (Html.BeginForm("Appointment", "User", new { submit=true , Cid=Request.Params["Cid"] }))
{
    
 <fieldset>
        <legend>Appointment</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
          
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.startTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.startTime)
           
        </div>
     
        <p>
            <input type="submit" value="Confirm" />
        </p>
    </fieldset>
}